<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../Content/css/bootstrap.css">
    <link rel="stylesheet" href="../Content/css/styles.css">
    <title>ToDoList</title>
  </head>
  <body>
    @RenderBody()
  </body>
</html>
